<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="footer-col">
				<h4>company</h4>
				<ul>
					<li><a href="/pages/inicio.html">Pollitos Pio</a></li>
					
				</ul>
			</div>
			<div class="footer-col">
				<h4>get help</h4>
				<ul>
					<li><a href="/pages/terms&conditions.html">Terminos y condiciones</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>Redes sociales</h4>
				<ul>
					<li><a href="https://www.facebook.com/PollitotoPio/">Facebook</a></li>
					<li><a href="https://www.instagram.com/ivan_buhaje/">Instragram</a></li>
					<li><a href="https://twitter.com/pollitopiopoi3">Twitter</a></li>
					<li><a href="https://www.youtube.com/@Natalan">Youtube</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>¡Siguenos!</h4>
				<div class="social-links">
					<a href="https://www.facebook.com/PollitotoPio/"><i class="fab fa-facebook-f"></i></a>
					<a href="https://twitter.com/pollitopiopoi3"><i class="fab fa-twitter"></i></a>
					<a href="https://www.instagram.com/ivan_buhaje/"><i class="fab fa-instagram"></i></a>
					<a href="https://www.youtube.com/@Natalan"><i class="fab fa-youtube"></i></a>
					
				</div>
			</div>
			</div>
		</div>
	</div>
</footer>