<div class="hero">
  <nav>
      <img class="logotipo" src="../img/logo-removebg-preview.png" alt="logos">
      <ul>
          <li><a href="../index.php">inicio</a></li>
          <li><a href="../pages/menu.php">menu</a></li>
          <li><a href="../pages/productos.php">productos</a></li>
          <li><a href="../pages/ubication.php">ubicacion</a></li>
          <script async src="https://cse.google.com/cse.js?cx=83e16dab7ae3d4ed5">
          </script>
          <div class="gcse-searchbox-only"></div>
      </ul>
      <a href="../pages/login.php"><button type="button">Login</button></a>
  </nav>
